<div class="container">
  <div class="row">

    <div class="col-12 topnav">

      <div
        *ngIf="(seasons | async) as availSeasons; else loading"
        style="padding: 2%;"
      >
        <select class="seasonSelector"
                (ngModelChange)="fetchDrivers($event)"
                [(ngModel)]="selectedSeason"
        >
          <option
            *ngFor="let season of availSeasons "
            [value]="season.season">{{season.season}}</option>
        </select>
      </div>

      <div style="padding: 2%;">
        <input
          type="text"
          placeholder="Filter on drivers name"
          [(ngModel)]="driverNameSearch"
        >
        <span style="padding-left: 2%;" *ngIf="driverNameSearch && driverNameSearch.length > 0">
          <fa-icon
            (click)="driverNameSearch = ''"
            style="font-size: x-large;"
            [icon]="icons.faTimes">
          </fa-icon>
        </span>
      </div>


    </div>
    <div class="col-12">

      <div  *ngIf="driversData | async as drivers; else loading">

        <app-tableview
          [columns]="driversColumns"
          [rowData]="drivers | driverName:driverNameSearch"
          (rowClick)="selectDriver($event)"
        >
        </app-tableview>

      </div>

      <ng-template #loading>
        <div>Loading...</div>
      </ng-template>
    </div>

  </div>
</div>
