<div>
  <span>
    Drivers Championship Standings
  </span>
  <table>
    <thead class="bg-grey-200">
      <tr>
        <th *ngFor="let col of columns" (click)="changeSorting(col.value)">{{col.display}}</th>
      </tr>
    </thead>
<!--    <tfoot>-->
<!--    <tr>-->
<!--      <th *ngFor="let col of columns" >{{col.display}}</th>-->
<!--    </tr>-->
<!--    </tfoot>-->

    <tbody >
      <tr *ngFor="let row of rowData | sortTable:tableSort " (click)="rowClick.emit(row)">
        <td *ngFor="let field of columns" class="{{field.type}}">
          <img *ngIf="field.value==='fullName' || field.value==='raceName'" src="https://www.countryflags.io/{{row.country}}/flat/64.png">
          {{row[field.value]}}
        </td>
      </tr>
    </tbody>

  </table>

</div>
