@import '../../../assets/mdColors.scss';

.tblview {
  background-color: white;
  border-radius: 10px;
}

table {
  border-collapse: collapse;
  width : 100%;
  thead {
    tr {
      background-color: $md-grey-600;
    }
  }
  td, th {
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: left;;
    font-weight: bold !important;

    img {
      vertical-align:middle;
    }

  }

  .number {
    color: black !important
  }
  .text {
    color : $md-grey-500 !important;
  }

  .neutral {
    background-color: $md-yellow-200;
  }

  .win {
    background-color: $md-green-200;
  }

  .bigwin {
    background-color: $md-green-300;
  }

  .midwin {
    background-color: $md-green-400;
  }

  .loss {
    background-color: $md-red-200;
  }

  .bigloss {
    background-color: $md-red-300;
  }

  .midloss {
    background-color: $md-red-400;
  }
}




